[Match]
MACAddress={{ ansible_facts['ansible_' + nic_dev]['macaddress'] }}

[Network]
Address={{ hostvars['inventory_hostname']['voids_fqdn'] }}
Gateway={{ voids_gateway }}
Domains={{ voids_domains }}
DNS={{ voids_dns_servers }}
