Port 22
AddressFamily any
ListenAddress 0.0.0.0
ListenAddress ::

Protocol 2

HostKey	/etc/ssh/ssh_host_ed25519_key

# Ciphers and keying
#RekeyLimit default none

SyslogFacility AUTH
LogLevel INFO

LoginGraceTime 1m
PermitRootLogin prohibit-password
StrictModes no
MaxAuthTries 6
MaxSessions 10

PubkeyAuthentication yes
PubkeyAuthOptions touch-required

AuthorizedKeysFile	/etc/ssh/keys.%u

# allowed users
AllowUsers root {{ username }}

PasswordAuthentication no
PermitEmptyPasswords no

# Change to no to disable s/key passwords
ChallengeResponseAuthentication no

# Restrict key exchange, cipher, and MAC algorithms, as per sshaudit.com
# hardening guide.
KexAlgorithms {{ sshd_kexalgorithms }}
Ciphers {{ sshd_ciphers }}
MACs {{ sshd_macs }}

UsePAM yes

AllowAgentForwarding yes
AllowTcpForwarding no
PrintLastLog yes
#TCPKeepAlive yes
#UseLogin no
#PermitUserEnvironment no
Compression delayed
ClientAliveInterval 15
ClientAliveCountMax 3
#UseDNS yes
#PidFile /run/sshd.pid
#MaxStartups 10:30:100
#PermitTunnel no
#ChrootDirectory none
#VersionAddendum none

# no default banner path
#Banner none

# override default of no subsystems
Subsystem	sftp	/usr/lib/ssh/sftp-server

# Example of overriding settings on a per-user basis
#Match User anoncvs
#	X11Forwarding no
#	PermitTTY no
#	AllowTcpForwarding no
#	ForceCommand cvs server
